@use '../../style/index.scss' as index;
.title {
  font-size: 24px;
  color: black;
}
.post__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.button_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.post {
  padding: 12px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #000000;

  &--viewed {
    padding: 12px;
    background-color: transparent;
    border-color: #e6e6e6;
    border-bottom: 1px solid #888888;
    .post__info {
      color: #888888;
    }
  }
}
.post__header {
  display: flex;
  justify-content: space-between;
}
.post__category-list {
  display: flex;
  gap: 8px;
}

.post__info {
  font-size: 16px;
  line-height: 1.4em;
  color: black;
}
.bottomButton {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 12px;
  width: 100%;
  background-color: #f46f17;
  color: #ffffff;
  border-radius: 16px;
  border: 1px solid #f7f7f7;
}
